@media(min-width: 747px){
	.mobile-header{
		display: none;
	}
	.PC-header{
		display: block;
	}
}
@media(max-width: 746px){
	.PC-header{
		display: none;
	}
	.mobile-header{
		display: block;
	}
}
@media(max-width: 1049px){
	.wraper{
		height: 810px;
	}
	.MenuPC a{
	font-size: 20px;
}
	.firstPage{
		height: 750px;
		padding-top: 0px;
	}
	.firstContainer{
		max-width: 900px;
		max-height: 600px;
	}
	.hello{
		margin-top: 175px;
	}
	.slideGalery{
		width: 90%;
	}
	.fourthContainer{
		width: 90%;
	}
	.calculator{
		width: 80%;
	}
	.statisticBlock{
		width: 85%;
	}
}
@media(max-width: 916px){
	.MenuPC a{
		font-size: 15px;
	}
}
@media(max-width: 769px){
	.firstContainer{
		max-width: 500px;
		max-height: 500px;
	}
	.hello{
		margin: 0% auto;
		margin-top: 500px;
		line-height: 40px;
	}
	.hello button{
		margin-top: 10px;
	}
	.secondPage{
		height: 625px;
	}
	.titleSecond {
		width: 90%;
	}
	.thirdContainer{
		width: 95%;
	}
	.fourthPage{
		height: 1000px;
	}
	.happyClients, .workHours, .totalProjects, .rewards{
		min-width: 50%;
	}
	.eightPage h2{
		font-size: 25px;
	}
	.eightPage h3{
		font-size: 17px;
	}
	.buttonContacts{
		width: 90%;
	}
	.messageMe{
		width: 90%;
	}
	.social{
		width: 60%;
	}
}
@media(max-width: 426px){
	.logoMobile h3{
		font-size: 34px;
		line-height: 60px;
	}
	h2{
		padding-top: 20px;
		font-size: 24px;
	}
	.firstContainer{
		max-width: 600px;
		max-height: 500px;
	}
	.hello{
		width: 300px;
		height: 280px;
		margin-top: 400px;
	}
	.hello h1{
		font-size: 30px;
	}
	.thirdPage{
		height: 750px;
	}
	.thirdPage h2{
		padding-top: 20px;
	}
	.thirdPage img{
		margin-top: 10px;
	}
	.thirdContainer{
		margin-top: 15px;
		height: 530px;
	}
	.WebDesign, .development, .CEO, .Marketing{
		width: 95%;
	}
	.fourthPage{
		height: 700px;
	}
	.fourthPage p{
		font-size: 14px;
		padding: 0;
	}
	.fourthPage h3{
		width: 100px;
		font-size: 15px;
		padding: 0;
	}
	.fourthContainerLeft{
		width: 90%;
		float: none;
	}
	.fourthContainerLeft input{
		font-size: 14px;
		margin-top: 5px;
		position: relative;
		top:-60px;
		left: 221px;
	}
	.slideGalery{
		width: 90%;
		height: 50%;
	}
	.fourthContainer{
		height: 335px;
		margin: 10px auto;
	}
	.fourthContainerRight{
		max-width: 370px;
	}
	.fivthPage{
		height: 450px;
	}
	.calculator{
		width: 90%;
		height: 400px;
		margin-top: 5px;
	}
	.calculator form{
		width: 100%;
		height: 45px;
		margin: 5px 0px;
	}
	.calculator select{
		height: 45px;
		margin: 5px 0px;
	}
	.calculator h3{
		padding: 0;
		font-size: 18px;
	}
	.equalSign{
		margin: 20px 0px;
	}
	.calculator table{
		margin: 10px 0px;
	}
	.seventhPage{
		height: 500px;
	}
	.seventhPage h2{
		margin: 20px;
		line-height: 20px;
	}
	.eightPage h2{
		padding-top: 20px;
	}
	.NameInput, .InputEmail{
		width: 100%;
		margin: 10px 0 0 0;
	}
	.social img{
		padding-top: 100px;
	}
	footer{
		height: 30px;
	}
	footer p{
		line-height: 30px;
	}
}
@media(max-width: 376px){
	.thirdPage h2{
	padding-top: 20px;
	}
	.thirdPage h3{
		margin-top: 5px;
	}
	.thirdPage img{
		margin-top: 5px;
	}
	.thirdContainer{
		padding-top: 5px;
		margin-top: 5px;
		height: 530px;
	}
	.thirdPage p{
		margin: 10px;

	}
	.fourthContainerRight{
		max-width: 370px;
	}
	.fourthContainerLeft input{
		font-size: 14px;
		margin-top: 5px;
		position: relative;
		top:-60px;
		left: 180px;
	}
	.fourthContainerRight{
		width: 100%;
	}
}